/* Set styles Sign-Up page */
.signup-page {
  display: flex;
  flex-direction: row-reverse; 
  font-family: var(--main-font);
  height: 100vh;
  width: 100%;
  padding: 0;
  max-width: 1600px;
  padding: 10px 10px 30px 10px;
  margin: auto;
  justify-content: center;
}

/* Define the size of the left and right sections */
.welcome-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../../assets/Background.LogIn.jpg") no-repeat center center;
  background-size: cover;
  color: var(--text-error);
  padding: 40px;
  border-radius: 50px 0px 0px 50px;
  position: relative;
  text-align: center;
}

.signup-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--site-background);
  padding: 40px;
  border-radius: 0px 50px 50px 0px;
  position: relative;
}

/* LOGO */
.signup-logo {
  position: absolute;
  align-self: flex-start;
  top: 20px;
  left: 30px;
  width: 30%;
}

.signup-form h2{
  margin-top: 80px;
}

/* TITLE */
h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 40px;
}

.welcome-container h2 {
  font-weight: bold;
  color: var(--tertiary-color);
  text-align: center;
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 22px;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 40px;
}

.signup-check {
  text-align: center;
}

/* Input box */
.input-group {
  display: flex;
  align-items: center; 
  background: var(--body-color);
  border-radius: 20px;
  padding: 12px;
  margin: 20px 0px;
  width: 100%;
  max-width: 2000px;
}

.input-group i {
  font-size: 20px;
  margin-right: 12px;
  color: var(--primary-color);
  flex-shrink: 0;
}

.input-group input {
  flex-grow: 1;
  width: 80%;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  padding: 5px;
}

input-group:hover,
.input-group:focus-within {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Error Text */
.error ,.error-message {
  color: var(--text-error);
  font-size: 14px;
  text-align: center;
}

/* Button */
.btn-signup {
  width: 100%;
  max-width: 1600px;
  padding: 12px 50px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--primary-color);
  color: var(--body-color);
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-signup:hover {
  background: var(--dorpdown-set);
  transform: scale(1.05);
}

/* Welcome Container Button */
.btn-login {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid var(--body-color);
  border-radius: 30px;
  cursor: pointer;
  background: transparent;
  color: var(--body-color);
  transition: all 0.3s ease;
}

.btn-login:hover {
  background: var(--show-post-background);
  color: var(--primary-color);
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .signup-page {
    flex-direction: column;
    height: auto;
  }

  .welcome-container {
    width: 100%;
    border-radius: 50px 50px 0px 0px;
    padding: 40px;
  }

  .signup-container {
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    padding: 40px;
  }

  .btn-login {
    max-width: 100%;
  }

  .btn-signup {
    max-width: 100%;
  }
}