<header class="header">
    <!-- Top Bar -->
    <div class="topbar">
        <p class="campus-info">สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง วิทยาเขตชุมพรเขตรอุดมศักดิ์</p>
        <!-- Login System : Show when not logged in -->
        <button class="login-btn" routerLink="/login" *ngIf="!isLoggedIn">
            เข้าสู่ระบบ
        </button>
        <!-- Logout System : Visible when logged in-->
        <button class="logout-btn" (click)="logout()" *ngIf="isLoggedIn">
            ออกจากระบบ
        </button>
    </div>

    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="left-section">
            <!-- Hamburger Button -->
            <button class="hamburger" (click)="toggleNavbar()">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- Logo -->
            <div class="logo">
                <img src="../../assets/CE-LOGO.png" alt="KMITL CE">
                <span>KMITL PCC</span>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="main-nav">
            <!-- Create Post Button: Visible to Admin only -->
            <button *ngIf="isAdmin" routerLink="/create" class="btn-create-post">
              <i class="fa-solid fa-plus"></i>
            </button>
          
            <!-- Button go back to Home -->
            <a (click)="goHome()" class="btn-home">
              <i class="fa-solid fa-home"></i>
            </a>
          </nav>
    </div>
</header>

<!-- Sidebar Navigation -->
<app-navbar [isOpen]="navbarOpen" (close)="toggleNavbar()"></app-navbar>