<a class="post-card" [routerLink]="['/post', post.id]">
  <img [src]="post.coverImage" alt="Post Cover" class="post-image">
  <div class="post-info">
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-lecturer">🗣️ {{ post.lecturer }}</p>
    <p class="post-location">📌 {{ post.location }}</p>
    <p class="post-date">📅 {{ post.date }}</p>
    <!-- <span class="post-category" [ngClass]="{'news': post.category === 'ข่าวสาร', 'event': post.category === 'กิจกรรม'}">
      {{ post.category }}
    </span> -->
  </div>
</a>