<div class="sidebar" [class.open]="isOpen">
    <button class="close-btn" (click)="closeNavbar()">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <ul class="nav-links">
        <li><a href="#">นักศึกษา & บุคลากร CE</a></li>
        <li><a href="#">ศิษย์เก่า CE & ITE</a></li>
        <li><a href="#">ครุภัณฑ์การศึกษา CE</a></li>
        <li><a href="#">ฝึกงาน & สหกิจศึกษา</a></li>
        <li><a href="#">ข่าวสาร & กิจกรรมของหลักสูตร</a></li>
        <li><a href="#">หลักสูตร & แผนการเรียน CE</a></li>
        <li><a href="#">แต้มบุญ</a></li>
    </ul>
</div>
