<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
<link href="https://cdn.jsdelivr.net/npm/quill/dist/quill.snow.css" rel="stylesheet">

<!-------------------------------------------------------------- < NAVBAR > -------------------------------------------------------------->

<nav class="navbar bg-body-tertiary fixed-top" [ngClass]="{'hidden': !navbarVisible}">
  <div class="container-fluid d-flex align-items-center">

    <!------------------------------- Logo ------------------------------->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="../../../assets/CE-LOGO-White.png" alt="Logo" width="200px" height="100px" class="Logo">
    </a>

    <!------------------------------- ปุ่ม Hamburger -------------------------------->
    <div class="d-flex ms-auto align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!------------------------------- Side bar  ------------------------------->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <!------------------------------- ข้างใน Side bar ------------------------------->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item"><a class="nav-link" href="#">นักศึกษา & บุคคลากร CE</a></li>
          <li class="nav-item"><a class="nav-link" href="#">ศิษย์เก่า CE & ITE</a></li>
          <li class="nav-item"><a class="nav-link" href="#">ครุภัณฑ์การศึกษา CE</a></li>
          <li class="nav-item"><a class="nav-link" href="#">ฝึกงาน & สหกิจศึกษา</a></li>
          <li class="nav-item"><a class="nav-link" href="#">ข่าวสาร & กิจกรรมของหลักสูตร</a></li>
          <li class="nav-item"><a class="nav-link" href="#">หลักสูตร & แผนการเรียน CE</a></li>
          <li class="nav-item"><a class="nav-link" href="#">แต้มบุญ</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-------------------------------------------------------------- < Body > -------------------------------------------------------------->

<body>
  <div class="form-container">
    <h2 class="title">ข้อมูลกิจกรรม</h2>

    <form [formGroup]="eventForm" (ngSubmit)="submitForm()">
      <!------------------------------- ช่องกรอกชื่อกิจกรรม ------------------------------->
      <div class="form-group">
        <label class="form-label">ระบุชื่อข่าวสารและกิจกรรม</label>
        <input type="text" class="form-control" formControlName="title" placeholder="กิจกรรม..." required>
        <p class="char-limit">* พิมพ์ข้อความได้ไม่เกิน 120 ตัวอักษร (0 / 120)</p>
      </div>

      <!------------------------------- ช่องอัปโหลดรูปภาพ ------------------------------->
      <div class="form-group">
        <label class="form-label">อัปโหลดรูปภาพหลัก</label>
        <input type="file" class="form-control" (change)="onMainImageChange($event)" accept="image/*">
      </div>
      <!------------------------------- แสดงตัวอย่างภาพที่อัปโหลด ------------------------------->
      <!-- <div *ngIf="mainImage" class="main-image-preview">
        <p>รูปที่เลือก:</p>
        <div *ngFor="let file of [mainImage]" class="image-container">
          <img [src]="getMainImagePreview()" width="100" height="100" class="uploaded-image">
        </div>
      </div> -->

      <!------------------------------- ช่องกรอกเนื้อหาข่าวสารและกิจกรรม ------------------------------->
      <div class="form-group">
        <label class="form-label">เนื้อหาข่าวสารและกิจกรรม/คำอธิบาย</label><br>
        <quill-editor formControlName="description" [styles]="{ height: '400px', width: '950px' }" placeholder="เนื้อหาข่าวสารและกิจกรรม..." [modules]="quillConfig.modules"></quill-editor>
      </div>

      <!------------------------------- ช่องอัปโหลดรูปภาพเพิ่มเติม ------------------------------->
      <div class="form-group">
        <label class="form-label">อัปโหลดรูปภาพเพิ่มเติม</label>
        <input type="file" class="form-control" (change)="onAdditionalImagesChange($event)" multiple accept="image/*">
        <p class="char-limit">* กรุณาเลือกรูปภาพไม่เกิน 3 รูป</p>
      </div>

      <!------------------------------- แสดงตัวอย่างภาพที่อัปโหลดเพิ่มเติม ------------------------------->
      <!-- <div *ngIf="additionalImages.length > 0">
        <p>รูปที่เลือก:</p>
        <div class="image-preview">
          <div *ngFor="let file of additionalImages; trackBy: trackByFn">
            <img [src]="getAdditionalImagePreview(file)" width="100" height="100" style="margin: 5px; border-radius: 10px;">
          </div>
        </div>
      </div> -->
      
      <!------------------------------- ช่องกรอกวัน/เดือน/ปี ------------------------------->
      <div class="form-group">
        <label class="form-label">วัน/เดือน/ปี</label>
        <input type="date" class="form-control" formControlName="eventDate" required>
      </div>

      <!------------------------------- ช่องกรอกสถานที่ ------------------------------->
      <div class="form-group">
        <label class="form-label">สถานที่:</label>
        <textarea class="form-control" formControlName="location" rows="3" placeholder="สถานที่จัดกิจกรรม..." required></textarea>
      </div>

      <!------------------------------- ช่องกรอกอาจารย์ที่ปรึกษา ------------------------------->
      <div class="form-group">
        <label class="form-label">อาจารย์ที่ปรึกษา:</label>
        <textarea class="form-control" formControlName="advisor" rows="3" placeholder="ชื่ออาจารย์ที่ปรึกษา..." required></textarea>
      </div>

      <!------------------------------- เลือกประเภท ------------------------------->
      <div class="form-check">
        <div>
          <input type="radio" formControlName="type" value="2"> ข่าวสาร <br>
          <input type="radio" formControlName="type" value="1" checked> กิจกรรม
        </div>
      </div>

      <!------------------------------- ปุ่มอัปโหลด ------------------------------->
      <div class="form-group upload-button">
        <button type="submit" class="btn-submit">อัปโหลดกิจกรรม</button>
      </div>
    </form>
  </div>
</body>